<div id="post-form">
    <h1>Editing post</h1>

    <%= render 'form' %>

    <% if @post.published %>

      <%= link_to 'Unpublish', unpublish_post_path(@post), method: :put, class: "btn btn-warning btn-show" %>
    <% else %>
      <%= link_to 'Publish', publish_post_path(@post), method: :put, class: "btn btn-success btn-show" %>
    <% end %>
    <%= link_to 'Cancel', posts_path, class: "btn btn-danger btn-cancel" %>
</div>