<div id="post-form">
    <h1>Editing post</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @post, class: "btn btn-warning btn-show" %>
    <%= link_to 'Cancel', posts_path, class: "btn btn-danger btn-cancel" %>
</div>