
<div id="post">
  <h1><%= @post.title %></h1>
  <p class="date"><%= @post.created_at.strftime('%B %e at %l:%M %p') %></p>
  <%= @post.content.html_safe %>

  <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default btn-edit" %>
</div>


