#latest-posts {
  margin-top: 10px;
  .post {
    max-width: 800px;
    margin: 0.5em auto;
    h2 {
      @extend .text-center;
    }

    .date {
      @extend .text-center;
    }


    .desc {
      font-size: 1.4em;
      margin-top: 0.8em;
    }

    .socialcount {
      max-width: 80px;
      margin-top: 1em;
     li {
       margin: 0.5em 0;
     }
    }
  }


  .show-post {
    @extend .center-block;
    width: 600px;
    .title {
      @extend .text-center;
    }
    p.desc {
      margin-top: 10px;
      font-size: 1.4em;
    }
    .socialcount {
      margin-top: 1em;
      width: 335px;
      @extend .center-block;
    }
  }
}


#post {
  @extend .center-block;
  width: $content-width-large;
  h1 {
    @extend .text-center;
  }
  .date {
    @extend .text-center;
  }
  .featured-image {
    display: block;
    margin: auto;
  }

  .btn-edit {
    margin-top: 10px;
  }
}

