#latest-posts {
  margin-top: 10px;
  .post {
    max-width: 800px;
    margin: 0.5em auto;
    h2 {
      @extend .text-center;
    }

    .date {
      @extend .text-center;
    }


    .desc {
      font-size: $post-content-font-size;
      margin-top: 0.8em;
    }

    .socialcount {
      max-width: 80px;
      margin-top: 1em;
     li {
       margin: 0.5em 0;
     }
    }
  }
}


#post {
  @extend .center-block;
  padding: 10px;
  h1 {
    @extend .text-center;
  }
  .date {
    @extend .text-center;
    margin-bottom: 1em;
  }
  .post-content {
    font-size: $post-content-font-size;
  }

  .btn-edit {
    margin-top: 10px;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: $content-width-md;
  }

  @media (min-width: $screen-lg-min){
    width: $content-width-lg;
  }

  .social-buttons{
    li {
      a {
        background-color: $blue-gray;
        color: #ffffff;
        &:hover {
          background-color: $pink;
          color: white;
        }
      }


    }

  }
}

