#latest-posts {
  margin-top: 10px;
}


.post {
  @extend .center-block;
  .title {
    text-align: center;
  }
  padding: 10px;
  .date {
    @extend .text-center;
    margin-bottom: 1em;
  }

  .btn-edit {
    margin-top: 10px;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: $content-width-md;
  }

  @media (min-width: $screen-lg-min){
    width: $content-width-lg;
  }

  .social-buttons{
    li {
      a {
        background-color: $blue-gray;
        color: #ffffff;
        &:hover {
          background-color: $pink;
          color: white;
        }
      }
    }
  }
}

.post-content {
  font-size: $post-content-font-size;
  h1 {
    font-size: $post-content-font-size*1.8;
    font-weight: 500;
    text-align: left;
  }
  h2 {
    font-size: $post-content-font-size*1.6;
    font-weight: 500;
  }
  h3 {
    font-size: $post-content-font-size*1.4;
    font-weight: 500;
  }
  h4 {
    font-size: $post-content-font-size*1.3;
    font-weight: 300;
  }
  h5 {
    font-size: $post-content-font-size*1.2;
    font-weight: 300;
  }
  h6 {
    font-size: $post-content-font-size*1.1;
    font-weight: 300;
  }
}

