#store {
  margin-top: 10px;
  .product-group-title {
    font-weight: 100;
    color: white;
    text-align: left;

  }
  .product-group {
    text-align: center;
    margin: 0 auto;
    background: $blue-gray;
    padding-top: 20px;
    @include border-radius(10px);
    @extend .container;
    .product {
      margin-right: 1em;
      margin-bottom: 2em;
      max-width: 280px;
      padding: 10px;
      background-color: white;
      //border: 1px solid $color-border;
      display: inline-block;
      vertical-align: top;
      @include border-radius(10px);
      .product-info {
        height: 250px;
        img {
          @include border-radius(20px);
          width: 75px;
          height: 75px;
        }

        .title {
          padding: 10px;
          font-size: 1.8em;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        p {
          max-height: 80px;
          text-align: left;
          overflow: hidden;
          margin-bottom: 30px;
        }
      }

      .btn-product {
        @include button-variant(white, $light-blue, $light-blue);
        &:hover {
          @include button-variant(white, $pink, $pink);
        }

      }
      &:hover {

      }
    }
  }
}

#product-show {
  @extend .center-block;
  width: $content-width-large;
}