<div id="post-form">
    <h1>Editing product</h1>

    <%= render 'form' %>

  <%= link_to 'Show', @product, class: "btn btn-warning btn-show" %>
  <%= link_to 'Cancel', products_path, class: "btn btn-danger btn-cancel" %>
</div>