<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; Speech-Tastic 2014</span>
      </div>
      <div class="col-md-4">
        <%= render partial: "shared/social_buttons", locals: {title: "Speech-Tastic.com", url: "http://www.speech-tastic.com"} %>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li><a href="#">Privacy Policy</a>
          </li>
          <li><a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>